.formulario{
    width: 100%;
    max-width:100vw;
    display: flex;
    justify-content: center;
}


.imgfondoC{
    background-image: url(../../components/assets/img/tips/imgContactanos.png);
    background-size: cover;
    width: 100%;
    height: 80px;
}

/* .contactenos{
    font-size: 3vw;
} */

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;

    padding: 1.5em;
    
}

/* CONTACT INFO */
.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 400px;
    background: #c2bfbf;
    text-align: justify;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}
.contact-info i{
    color: #f29778;
}

.mensaje{
    display: flex;
    flex-direction: column;
}
.archivos{
    margin-left: 1rem;
}
.evidencia{
    padding-top: 2rem;
}

/* :::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: tableta ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width:768px){

    .imgfondoC{
        height: 200px;
    }

    .contactenos{
        font-size: 2vw;
        padding: 20px;
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}

/* :::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: medio ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width:1024px) {
    .imgfondoC{
        height: 250px;
    }

    .contactenos{
        font-size: 1.5vw;
        padding: 20px;
    }
}


/* :::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: grande ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width:1366px) {
    .imgfondoC{
        height: 300px;
    }
}